@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

body {
    background-color: #f8f8f8;
    font-family: 'Merriweather Sans', sans-serif; /* Adicionando a fonte */
    overflow-x: hidden; /* Remove a barra lateral se houver overflow horizontal */
}

.container {
    max-width: 97%; /* Garante que a largura da container seja 100% */
    padding: 0; /* Remove o padding da container */
}

.card {
    border-radius: 20px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    height: 130px; /* Altura do card */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para transformações */
}

.card-body {
    display: flex; /* Adiciona flex para alinhar horizontalmente */
    justify-content: space-between; /* Garante que o título fique à esquerda e a imagem à direita */
    align-items: flex-start; /* Alinha verticalmente o título ao topo */
}

.card-title {
    color: #929292; /* Altera a cor do título */
    margin: 0; /* Remove margem para alinhamento correto */
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
    text-decoration: none; /* Remove sublinhado padrão */
    font-size: 1.5rem; /* Aumenta o tamanho da fonte do título */
    font-family: 'Lato', sans-serif; /* Altera a fonte para Lato */
}

.card-img {
    border-radius: 0; /* Remove o arredondamento da imagem */
    width: 100px; /* Ajuste no tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease; /* Transição suave para a transformação da imagem */
}

.card:hover {
    transform: scale(1.02); /* Efeito de aumento suave do card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10); /* Sombra suave ao passar o mouse */
}

.card:hover .card-title {
    color: #0000a0; /* Altera a cor do título ao passar o mouse */
}

.card:hover .card-img {
    transform: scale(1.05); /* Aumenta a imagem suavemente ao passar o mouse */
}
